@{
    ViewBag.Title = "CL_Eliminar";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}
<html>
<body id="page2">
    <div id="main">
        <div id="content">
            <div class="indent">
                <div class="col-1">
                    <h3><b>Recusar </b> Cliente</h3>
                    <p>Todos os campo são obrigatórios.</p>
                    <fieldset>
                        <p>
                            <b>Email</b>
                            <input id="email" type="email" size=87% />
                        </p>
                        <p>
                            <b>Motivo da Recusa </b>
                            <textarea id="recusadetalhes" rows="5" cols="96%"></textarea>
                        </p>
                    </fieldset>
                    <a href="CL_Principal" class="link1" style="margin-left:90"><em><b>Cancelar</b></em></a>
                    <a href="#" class="link1" style="margin-left:140"><em><b>Enviar</b></em></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
