@{
    ViewBag.Title = "Notificacoes";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<html>
<body id="page1">
    <div id="main">
        <div id="content">
            <div class="indent">
                <div class="col-1">
                    <h3><b>Centro de</b> Notificações</h3>
                    <p></p>
                    <div class="img-box1">
                        <br /><br />
                        <a href="CL_Principal" class="link1"><em><b>CL Pendentes</b></em></a>
                        <a href="Vei_Principal" class="link1" style="margin-left:35"><em><b>Veí Reservados</b></em></a>
                        <a href="#" class="link1" style="margin-left:40"><em><b>Outras</b></em></a>
                        <br/><br/><br/>
                        <p><b>CLIENTES PENDENTES</b><br/>
                            username contacto email1 <a href="CL_Editar"><b>EDITAR</b></a><br />
                            username contacto email2 <a href="CL_Editar"><b>EDITAR</b></a><br />
                            username contacto email3 <a href="CL_Editar"><b>EDITAR</b></a><br />
                        </p>
                        <p>
                            <b>VEÍCULOS RESERVADOS</b><br />
                            datahora_inicio local_origem datahora_fim local_destino veiculo1 <a href="#"><b>ENTREGUE</b></a><br />
                            datahora_inicio local_origem datahora_fim local_destino veiculo1 <a href="#"><b>ENTREGUE</b></a><br />
                            datahora_inicio local_origem datahora_fim local_destino veiculo1 <a href="#"><b>ENTREGUE</b></a><br />
                        </p>
                        <p>
                            <b>OUTRAS</b><br />
                            categoria matricula marca modelo notificação1 <a href="Vei_Editar"><b>EDITAR</b></a><br />
                            categoria matricula marca modelo notificação2 <a href="Vei_Editar"><b>EDITAR</b></a><br />
                            categoria matricula marca modelo notificação3 <a href="Vei_Editar"><b>EDITAR</b></a><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
