@{
    ViewBag.Title = "Contacto";
}
<html>
<body id="page5">
    <div id="main">
        <div id="content">
            <div class="box">
                <div class="border-bot">
                    <div class="right-bot-corner">
                        <div class="left-bot-corner">
                            <div class="inner">
                                <div class="box1 alt">
                                    <div class="inner">
                                        <h4><b>Os nossos</b> Contactos</h4>
                                        <div class="address">
                                            <b>Cód.Postal:</b>5000<br />
                                            <b>País:</b>Portugal<br />
                                            <b>Telefone:</b>+351 123 456 789<br />
                                            <b>Fax:</b>+351 321 654 987
                                        </div>
                                        <p class="p0 extra-wrap">
                                            <b>Outras Informações:</b><br />
                                            O atendimento aos nossos clientes, quer nas nossas instalações, quer por telemóvel, só pode ser realizado em dias úteis das 10:00 até ás 19:00. Qualquer informação adiccional pode ser feito pelo formulário mais abaixo indicando o motivo da info.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="indent">
                <div class="col-1">
                    <h3><b>Formulário de</b> Contacto</h3>
                    <form id="contacts-form" action="#">
                        <fieldset>
                            <div class="field">
                                <label>Nome:</label>
                                <input type="text" value="" />
                            </div>
                            <div class="field">
                                <label>Email:</label>
                                <input type="text" value="" />
                            </div>
                            <div class="field">
                                <label>Website:</label>
                                <input type="text" value="" />
                            </div>
                            <div class="field">
                                <label>Mensagem:</label>
                                <textarea cols="1" rows="1"></textarea>
                            </div>
                            <div class="wrapper"><a href="#" class="link1"><em><b>ENVIAR</b></em></a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>