@{
    ViewBag.Title = "PT Motor";
}
<html>
<body id="page1">
    <div id="main">
        <div id="content">
            <ul class="box-list">
                <li>
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Melhores</b> Preços</h4>
                                                <p>Consulta agora a nossa nova tabela de preços com diversas promoções à sua espera. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="alt">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Processo</b> Online</h4>
                                                <p>Sem sair da sua própria casa consegue agora com facilidade realizar o aluguer de qualquer veículo da nossa empresa. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="box">
                        <div class="border-bot">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <div class="box1">
                                            <div class="inner">
                                                <h4><b>Mais</b> Qualidade</h4>
                                                <p>Temos à sua disposição a mais variada gama de veículos ligeiros, pesados e motociclos. Verifique todos os veículos que temos para si. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="indent">
                <div class="col-1">
                    <h3><b>Bem-Vindo ao</b> Website da PT Motor</h3>
                    <p>A empresa PTMotor, dedica-se ao aluguer de automóveis ligeiros, pesados e motociclos. Esta plataforma foi desenvolvida a pensar em integrar online todo o processo de aluguer até ao momento da entrega do veículo no local de sua preferência.</p>
                    <div class="img-box1">
                        <img src="~/Content/images/1page-img.jpg" alt="" />
                        <p class="p0">
                            Se tiver alguma dúvida ou questão a colocar-nos pode utilizar a secção Contactos. Complete e envie-nos o formulário: as nossas equipas nos diversos departamentos terão todo o gosto em responder à sua questão.
                            Caso deseje dar-nos informações sobre como melhorar o nosso site, de forma a que o possamos adequar cada vez mais às suas necessidades, agradeceríamos que despenda de alguns minutos do seu tempo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
