@model  IEnumerable<PTMotor_v9.Models.Pessoa>

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<html>
<body id="page2">
    <div id="main">
        <div id="content">
            <div class="indent">
                <div class="col-1">
                    <h3><b>Edite o seu</b> Perfil</h3>
                    <p>Todos os campo são obrigatórios.</p>
                    <fieldset>
                        <b>Nome Completo </b>
                        <p><input id="nome" type="text" size="94%" /></p>
                        <b>Morada </b>
                        <p><input id="morada" type="text" size=94% /></p>
                        <p>
                            <b>Código Postal </b>
                            <input id="cod_postal1" type="text" size=10% />
                            <input id="cod_postal2" type="text" size=5% />
                            &nbsp
                            <b>Localidade </b>
                            <input id="localidade " type="text" size=33% />
                        </p>
                        <p>
                            <b>BI/Cartão de Cidadão </b>
                            <input id="bi" type="text" size=27% />
                            &nbsp
                            <b>NIF </b>
                            <input id="nif" type="text" size=27% />
                        </p>
                        <p>
                            <b>Telefone/Telemóvel</b>
                            <input id="contacto1" type="text" size=15% />
                            <input id="contacto2" type="text" size=15% /> Um contacto obrigatório.
                        </p>
                        <p>
                            <b>Email</b>
                            <input id="email" type="email" size=87% />
                        </p>
                        <p>
                            <b>Documentos Digitalizados (BI + Carta de Condução) </b>
                            <input id="docs" type="file" size=78% />
                        </p>
                        <p>
                            <b>Nome de Utilizador </b>
                            <input id="nomeutilizador" type="text" size=20% maxlength="10" />
                            &nbsp
                            <b> Password </b>
                            <input id="password" type="password" size=20% maxlength="10" />
                        </p>
                    </fieldset>
                    <a href="Index" class="link1" style="margin-left:90"><em><b>Cancelar</b></em></a>
                    <a href="#" class="link1" style="margin-left:140"><em><b>Guardar</b></em></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>