@{
    ViewBag.Title = "Historico";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<html>
<body id="page1">
    <div id="main">
        <div id="content">
            <div class="indent">
                <div class="col-1">
                    <h3><b>Histórico de</b> Aluguer</h3>
                    <br/><br/><br/>
                    <div class="img-box1">
                        <b>Histórico: </b>
                        <p>
                            <textarea id="cl_historico" rows="15" cols="96%" readonly="readonly"></textarea>
                        </p>
                        <a href="Index" class="link1" style="margin-left:190"><em><b>Para Trás</b></em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>